@mixin box($border, $color : #333){
  border : $border;
  color : $color;
  padding: 16px;
}


.App {
  div{ margin: 16px 0}
  @include box(20px solid green);

  .addNumberRoot {
    @include box(2px solid navy);

    .addNumber {
      @include box(2px solid red);
    }
  }

  .displayNumberRoot {
    @include box(2px solid navy);

    .displayNumber {
      @include box(2px solid red);
    }
  }
}
